{{- $text := "" -}}
{{- with .text.color -}}
{{- $text = (printf "%v%v" "text-" .) -}}
{{- end -}}
{{with .text.shade}}
{{- $text = (printf "%v%v%v" $text "-" .) -}}
{{- end -}}
<div class="relative py-16 bg-light">
    <div class="hidden absolute top-0 inset-x-0 h-1/2 bg-gray-50 lg:block" aria-hidden="true"></div>
    <div class="max-w-7xl mx-auto gradient gradient-hidden-lg lg:px-8">
      <div class="lg:grid lg:grid-cols-12">
        <div class="relative z-10 lg:col-start-1 lg:row-start-1 lg:col-span-4 lg:py-16 lg:bg-transparent">
          <div class="absolute inset-x-0 h-1/2 bg-gray-50 lg:hidden" aria-hidden="true"></div>
          <div class="max-w-md mx-auto px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0">
            <div class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">
              <img class="object-cover object-center rounded-3xl shadow-2xl" src="{{.image}}" alt="">
            </div>
          </div>
        </div>
  
        <div class="relative gradient lg:col-start-3 lg:row-start-1 lg:col-span-10 lg:rounded-3xl lg:grid lg:grid-cols-10 lg:items-center">
         
          <div class="relative max-w-md mx-auto py-12 px-4 space-y-6 sm:max-w-3xl sm:py-16 sm:px-6 lg:max-w-none lg:p-0 lg:col-start-4 lg:col-span-6">
            <h2 class="text-3xl font-extrabold text-white" id="join-heading">{{.title}}</h2>
            <article class="prose prose-2xl mx-auto px-5 sm:px-0 text-white">
                {{.description | markdownify}}
            </article>
            {{range $index,$value:= .cta}}
            <a class="block w-full py-3 px-5 text-center bg-white border border-transparent rounded-md shadow-md text-base font-medium {{$text}} hover:bg-gray-50 sm:inline-block sm:w-auto" href="{{$value.url}}">{{$value.text}}</a>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
